{%extends 'blog/base.html'%}

{%block content%}  
<div class="jumbotron">
    <p>Please login:</p>
    <h3>(Must be super user please check with the site admin)</h3>
    {%if form.errors%}
    <p>oops! credantial miss match</p>
    {%endif%}
    <form action="{%url 'login'%}" method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="Login ">
        <input type="hidden" name="next" value="{{next}}">
    </form>
</div>
{%endblock%}